
p{
	color: white;
}
h1,h2,h3,h4,h5{
	color: white;
}
td{
	color: white;
	/* width: 30px; */
}

/* @media screen and (max-width: 1400px) {
	header{
		background: red;
	}	
} */

#canvas{
	border-style: solid; 
	/* background-color: #82c0d3; */
	background: url("resources/images/canvasBG.jpg");
}


/* Registertion form starts */
input[type=text], input[type=password], input[type=email] {
    width: fit-content; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical ;
    opacity: 70%;
  }
  
  input[type=submit] {
    background-color: blanchedalmond;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #f8cb00;
  }


/* Registertion form ends */


/* ABOUT MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
		/* The Modal (background) */
		.modal {
			/* justify-content: center; */
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			z-index: 1;
			/* Sit on top */
			padding-top: 100px;

			/* margin-top: 70%; */


			/* Location of the box */
			left: 0;
			/* top: 30%; */
			width: 100%;
			/* Full width */
			height: 100%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgb(0, 0, 0);
			/* Fallback color */
			background-color: rgba(0, 0, 0, 0.4);
			/* Black w/ opacity */

		}

		/* Modal Content */
		.modal-content {
			text-align: center;
			background-color: #fefefe;
			margin-top: 15%;
			margin-left: auto;
			margin-right: auto;
			/* margin: auto; */
			/* margin-top: 20px; */
			padding-bottom: 20px;
			/* padding-top: 20px; */
			border: 1px solid #888;
			width: 40%;
		}


		/* Modal Header */
				.modal-head{
			background: #989898;
    		border: none;
    		padding-top: 8px;
    		padding-bottom: 8px;
    		/* color: aliceblue; */
		}

		/* Modal Body */
		.modal-body{
			padding-left: 20px;
			padding-top: 20px;
			text-align: left;

		}

		/* The Close Button */
		.close {
			/* top: 0; */
			color: #000000;
			margin-right: 0%;
			float: right;

			font-size: 28px;
			font-weight: bold;
		}
		.close:hover,
		.close:focus {
			color: rgb(70, 70, 70);
			text-decoration: none;
			cursor: pointer;
		}
/* ABOUT MODAL ENDS */

#aboutModal{
	margin: auto;
	padding: 0;
	width: 100%;
}





/*  SETTINGS PAGE  */
.setting{
	display: flex;
	/* margin-left: 5px; */
	/* margin: 10px; */
}

.arrowDiv{
	margin: 0px 2px;

}

#arrowsDiv{
	/* display: flex;  */
	align-items: center;
    display: table-cell;
}

.box{
	margin: 0px 5px;
}


#m_m_config{

	/* padding-left: 2em;  */
	/* padding-right: 2em;  */
	justify-content: center;
	width: 40%;

}

#game_config{
	height: 100% ;
	/* padding-right: 2em; */
	width: 30%;
}


#game_config h3,h5{
	text-align: center;
}

/* BDEDE0 */
header{
	margin:0;
	top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 10%;
    background-color: transparent;
    overflow: hidden;
    z-index: 0;
}
#footerID{
	margin:0;
    left: 0;
    position: relative;
    width: 100%;
    height: 10%;
    background-color:transparent;
    overflow: hidden;
    z-index: 0;
}

#content{
	/* position: relative;
    width: 100%;
	min-height: 90vh; */
	/* margin: auto; */
	height: 80vh;
  }

body{
	/* background: #022831; */
	background: #056176;
	/* margin: 0; */
	max-height: 100vh;
	overflow: hidden;
	font-family: 'Montserrat';
	/* z-index: 2; */
}

/* .centerForm{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.rowGrid{
	display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 80px);
}


#pacmanLogo{
width: 40%; 
margin-left: auto; 
margin-right: auto;
}

[hidden] {
    display: none !important;
}

.subPage{

	height: 75%;
	/* height: auto; */
	width: 80%;
	border: 5px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/* background: #07849D; */
	background: #0AB4D6;
	/* background: #BDEDE0; */

	margin: 0;
	position: absolute;
	top: 50%;
	left: 54%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);


}



.formDivs{
    display: flex; 
    /* justify-content: center;  */
    align-items: center;
  }




#buttomImgWelcomeP{
	width: 60%;
	margin: 2%;
}

button{
	margin: 10px;
	background-color: blanchedalmond;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
	background-color: #f8cb00;
}

.gameOptionBtn{
	font-size: 20px;
	align-self: center;
	 width: 170px;
	 margin-top: 10px;
}


.movemntKeys{ 
	width:57px; 
	display: inline-block;
	white-space: nowrap;
	margin-right: 1rem;
}
#settingsBar{
	display: flex;
}


#tbodyCSS td{
	width: 80px;
}


.heading{
	margin-top: 5vh;

}

#registerForm{
	padding-top: 7%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.welcomeButton{
	width: 40%;
	height: auto;
}

#welcomePage button{
	background: transparent;
}

#welcomePage button:hover{
	background: transparent;
	transform: translateY(-10px);
    transition-duration: 1s;
}

#gameButtonsBar{
	flex-direction: column;
	text-align: center;
	margin: auto;
	align-self: center;
	margin: auto;

	
}


#gameButtonsBar button{

	width: 90px;
	margin-top: 3rem;
	margin-left: 30%;
}

.monsterButton{
	height: 23% !important;
	background: transparent;
	border: none !important;
	padding: 0;
}

.monsterButton:hover{
    transform: translateY(-10px);
    transition-duration: 1s;
}
.monsterButton h3{
	margin: 0;
}








#menuBar{
	width: 7%;
	float: left;
	padding: 10px 0px 10px 50px ;
	height: 100%;
	overflow: hidden;
	/* padding-left: 50px; */

}

#displayContent{
	padding: 10px;
	line-height: 2em;
	height: 100%;
	overflow: hidden;

}

#gamePage{
	display: flex;
	flex-direction: row;
}

.noBG_buttons button:hover{
	background: transparent;
}



img{
	width: 100%;
	height: auto;
}

.settingsButtons{
	width: 30%;
	/* display: flex; */
	flex-direction: column;
	/* padding-left: 2em; */
	justify-content: center;
	height: 100%;
	/* margin-left: 6%; */
	
}


.settingsButtons button{
	height: auto;
	margin-top: 12%;
	width: 70%;
	/* margin-left: 10%; */
}

.settingsButtons img{
	height: auto;
	/* margin-top: 20%; */
	width: 45%;
}

.settingsButtons button:hover{
	background: transparent;
}


#foodNumInput{
	width: 30%;
}
#gameTime{
	width: 50%;
}

.ballColor{
	display: flex; 
	text-align: center; 
	justify-content: center; 
	align-items: center;
}

#game_config input{
	margin-left: 1em;
}

.divider{
	height: 75%;
	width: 2px;
	clear: both;
	background: aliceblue; 
	margin-bottom: 20px;
	margin: 0px 30px;
	/* border-right: aliceblue solid;  */

}

.ballCount{
	display: flex;
	align-items: center; 
	color: white;
	justify-content: center;
}

.colorsInGame{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.colorsInGame input{
	margin-left: 10px;
}

#gamePage{
	/* overflow:auto; */
	height: auto;
	padding-top: 10px;
}