p{
	color: white;
}
h1,h2,h3,h4,h5{
	color: white;
}
td{
	color: white;
}



/* Registertion form starts */
input[type=text], input[type=password], input[type=email] {
    width: fit-content; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical ;
    opacity: 70%;
  }
  
  input[type=submit] {
    background-color: blanchedalmond;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #f8cb00;
  }


/* Registertion form ends */


/* ABOUT MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
		/* The Modal (background) */
		.modal {
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			z-index: 1;
			/* Sit on top */
			padding-top: 100px;
			/* Location of the box */
			left: 0;
			top: 0;
			width: 100%;
			/* Full width */
			height: 100%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgb(0, 0, 0);
			/* Fallback color */
			background-color: rgba(0, 0, 0, 0.4);
			/* Black w/ opacity */
		}

		/* Modal Content */
		.modal-content {
			background-color: #fefefe;
			margin: auto;
			padding: 20px;
			border: 1px solid #888;
			width: 50%;
		}

		/* The Close Button */
		.close {
			color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}
		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}
/* ABOUT MODAL ENDS */

/*  SETTINGS PAGE  */
.setting{
	display: flex;
	margin-left: 5px;
	/* margin: 10px; */
}

.arrowDiv{
	margin: 0px 2px;

}

#arrowsDiv{
	/* display: flex;  */
	align-items: center;
    display: table-cell;
}

.box{
	margin: 0px 5px;
}


#game_config{
	border-left: aliceblue 1px solid; 
	padding-left: 2em;

}

#game_config h3,h5{
	text-align: center;
}


header{
	
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	border: 1px solid red;
}
.headerContent{
	background: transparent;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

#content{
	
	position: fixed;
	padding: 0;
	margin: 0;

	top: 10%;
	bottom: 10%;
	left: 0;

	width: 100%;
	height: 80%;
	background: #022831;
	border: 5px solid black;
	/* background: transparent; */
  }

.mainPage{
	height: 100%;
	align-self: center;
	align-content: center;
	/* flex-direction: column; */
	display: flex;
	
}

footer{
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	border: 1px solid red;
}
.footerContent{
	background: transparent;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
#pacmanLogo{
height: 30%; 
width: 30%; 
border: 5px solid black; 
}


.firstPage{

    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: space-between;
	/* flex-wrap: wrap; */
	flex-direction: column;
	border: 5px solid black;
}

#welcomePage{
	width: 60%;
	height: 80%;
	margin: auto;	
	background: #01171D;
}

[hidden] {
    display: none !important;
}

.subPage{
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	border: 5px solid black;
	background: #01171D;


}

#registerPage{
	width: 60%;
	height: 80%;
	margin: auto;	

}

#loginPage{
	width: 60%;
	height: 80%;
	margin: auto;
}
.registerPage{
	margin: auto;
}

.formDivs{
    display: flex; 
    /* justify-content: center;  */
    align-items: center;
  }

 
  #settingsPage{
	width: 60%;
	height: 80%;
	margin: auto;	
	background: #01171D;
}

#table{
	text-align: center;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: auto; 
	margin-bottom: auto;
}

.movemntKeys{ 
	width:57px; 
	display: inline-block;
	white-space: nowrap;
	margin-right: 1rem;
}