

p{
	color: white;
}
h1,h2,h3,h4,h5{
	color: white;
}
td{
	color: white;
	/* width: 30px; */
	
}

/* html,body,header,footer{
	overflow:auto;
} */



/* Registertion form starts */
input[type=text], input[type=password], input[type=email] {
    width: fit-content; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical ;
    opacity: 70%;
  }
  
  input[type=submit] {
    background-color: blanchedalmond;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #f8cb00;
  }


/* Registertion form ends */


/* ABOUT MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
		/* The Modal (background) */
		.modal {
			/* justify-content: center; */
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			z-index: 1;
			/* Sit on top */
			padding-top: 100px;

			/* margin-top: 70%; */


			/* Location of the box */
			left: 0;
			/* top: 30%; */
			width: 100%;
			/* Full width */
			height: 100%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgb(0, 0, 0);
			/* Fallback color */
			background-color: rgba(0, 0, 0, 0.4);
			/* Black w/ opacity */

		}

		/* Modal Content */
		.modal-content {
			text-align: center;
			background-color: #fefefe;
			margin-top: 15%;
			margin-left: auto;
			margin-right: auto;
			/* margin: auto; */
			/* margin-top: 20px; */
			padding-bottom: 20px;
			/* padding-top: 20px; */
			border: 1px solid #888;
			width: 30%;
		}


		/* Modal Header */
				.modal-head{
			background: #989898;
    		border: none;
    		padding-top: 8px;
    		padding-bottom: 8px;
    		/* color: aliceblue; */
		}

		/* Modal Body */
		.modal-body{
			padding-top: 20px;

		}

		/* The Close Button */
		.close {
			/* top: 0; */
			color: #000000;
			margin-right: 0%;
			float: right;

			font-size: 28px;
			font-weight: bold;
		}
		.close:hover,
		.close:focus {
			color: rgb(70, 70, 70);
			text-decoration: none;
			cursor: pointer;
		}
/* ABOUT MODAL ENDS */

/* #aboutModal{
	margin: auto;
} */




/*  SETTINGS PAGE  */
.setting{
	display: flex;
	/* margin-left: 5px; */
	/* margin: 10px; */
}

.arrowDiv{
	margin: 0px 2px;

}

#arrowsDiv{
	/* display: flex;  */
	align-items: center;
    display: table-cell;
}

.box{
	margin: 0px 5px;
}


#game_config{
	border-left: aliceblue 1px solid; 
	padding-left: 2em;

}

#game_config h3,h5{
	text-align: center;
}


header{
	
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	border: 1px solid red;
}
.headerContent{
	background: transparent;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

#content{
	position: relative;
	margin-top: 6%;
	/* top: 50%; */
	/* left: 0; */
	width: 100%;
	min-height: 660px;
	display: flex;
  }

body{
	background: #022831;

}

footer{
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	border: 1px solid red;

}
.footerContent{
	background: transparent;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
#pacmanLogo{
height: 30%; 
width: 30%; 
border: 5px solid black; 
}


.firstPage{

    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-direction: column;
	border: 5px solid black;
}

#welcomePage{
	width: 60%;
	height: 80%;
	margin: auto;	
	background: #01171D;
}

[hidden] {
    display: none !important;
}

.subPage{
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	border: 5px solid black;
	background: #01171D;
	/* background: #07849D; */


}

#registerPage{
	/* background: url(resources/images/registerBG.jpg) no-repeat !important; */
	width: 60%;
	height: 80%;
	margin: auto;	

}


#loginPage{
	width: 60%;
	height: 80%;
	margin: auto;
}
.registerPage{
	margin: auto;
}

.formDivs{
    display: flex; 
    /* justify-content: center;  */
    align-items: center;
  }

 
  #settingsPage{
	width: 60%;
	height: 85%;
	margin: auto;	
	/* background: #01171D; */
}

button{
	margin: 10px;
	background-color: blanchedalmond;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
	background-color: gray;
}

.gameOptionBtn{
	font-size: 20px;
	align-self: center;
	 width: 170px;
	 margin-top: 10px;
}

#table{
	/* width: 100px; */
	text-align: center;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: auto; 
	margin-bottom: auto;
}

.movemntKeys{ 
	width:57px; 
	display: inline-block;
	white-space: nowrap;
	margin-right: 1rem;
}
#settingsBar{
	display: flex;
}
.settingsBarCol{
	/* margin-left: 18px; */
}

/* .gamepageline{
	display: flex;
	align-items: center;
	margin-top: 0px;
} */



#gamePage{
	/* align-items: center;
	align-self: center; */
	/* margin: 0; */
  position: relative;
  /* top: 30%; */
  /* left: 15%; */
  justify-content: center;
  padding-right: 200px;
	display: flex;
	width: 100%;

}




#tbodyCSS td{
	width: 80px;
}

#gameSettingsBar{
	width: 22%; 
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
	/* margin: auto; */
	/* margin-right: 30px; */
}

#gameButtonsBar{
	flex-direction: column;
	text-align: center;
	margin: auto;
	align-self: center;
	margin: auto;

	
}


/* #gameButtonsBar button{

	width: 90px;
	margin-top: 2rem;
	/* margin-left: 30%; */
} */