

p{
	color: white;
}
h1,h2,h3,h4,h5{
	color: white;
}
td{
	color: white;
	/* width: 30px; */
	
}

/* html,body,header,footer{
	overflow:auto;
} */



/* Registertion form starts */
input[type=text], input[type=password], input[type=email] {
    width: fit-content; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical ;
    opacity: 70%;
  }
  
  input[type=submit] {
    background-color: blanchedalmond;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #f8cb00;
  }


/* Registertion form ends */


/* ABOUT MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
		/* The Modal (background) */
		.modal {
			/* justify-content: center; */
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			z-index: 1;
			/* Sit on top */
			padding-top: 100px;

			/* margin-top: 70%; */


			/* Location of the box */
			left: 0;
			/* top: 30%; */
			width: 100%;
			/* Full width */
			height: 100%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgb(0, 0, 0);
			/* Fallback color */
			background-color: rgba(0, 0, 0, 0.4);
			/* Black w/ opacity */

		}

		/* Modal Content */
		.modal-content {
			text-align: center;
			background-color: #fefefe;
			margin-top: 15%;
			margin-left: auto;
			margin-right: auto;
			/* margin: auto; */
			/* margin-top: 20px; */
			padding-bottom: 20px;
			/* padding-top: 20px; */
			border: 1px solid #888;
			width: 30%;
		}


		/* Modal Header */
				.modal-head{
			background: #989898;
    		border: none;
    		padding-top: 8px;
    		padding-bottom: 8px;
    		/* color: aliceblue; */
		}

		/* Modal Body */
		.modal-body{
			padding-top: 20px;

		}

		/* The Close Button */
		.close {
			/* top: 0; */
			color: #000000;
			margin-right: 0%;
			float: right;

			font-size: 28px;
			font-weight: bold;
		}
		.close:hover,
		.close:focus {
			color: rgb(70, 70, 70);
			text-decoration: none;
			cursor: pointer;
		}
/* ABOUT MODAL ENDS */

/* #aboutModal{
	margin: auto;
} */




/*  SETTINGS PAGE  */
.setting{
	display: flex;
	/* margin-left: 5px; */
	/* margin: 10px; */
}

.arrowDiv{
	margin: 0px 2px;

}

#arrowsDiv{
	/* display: flex;  */
	align-items: center;
    display: table-cell;
}

.box{
	margin: 0px 5px;
}


#game_config{
	border-left: aliceblue 1px solid; 
	padding-left: 2em;

}

#game_config h3,h5{
	text-align: center;
}


header{
	top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    z-index: 0;
}
footer{
    left: 0;
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    z-index: 0;
}

#content{
	position: relative;
    width: 100%;
	min-height: 90vh;
  }

body{
	background: #022831;
}

.centerForm{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rowGrid{
	display: grid;
   grid-template-columns: repeat(2, 0.9fr);
   grid-template-rows: repeat(2, 80px);
}
.rowTable{
	display: table;
	margin-left: 25%;

}

.wrapper div{
float: left;
}

.rowTableInner{
	margin-top: 10px;
	/* margin-left: 50%; */
	display: table-cell;
	/* float: left; */
}



#pacmanLogo{
height: 30%; 
width: 30%; 
}

[hidden] {
    display: none !important;
}

.subPage{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	min-height: 80vh;
    font-size: 20px; 
    align-items: center;
	text-align: center;
	flex-direction: column;
	border: 5px solid black;
	background: #01171D;
	margin: auto;

	/* background: #07849D; */


}

.formDivs{
    display: flex; 
    /* justify-content: center;  */
    align-items: center;
  }




button{
	margin: 10px;
	background-color: blanchedalmond;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
	background-color: #f8cb00;
}

.gameOptionBtn{
	font-size: 20px;
	align-self: center;
	 width: 170px;
	 margin-top: 10px;
}


.movemntKeys{ 
	width:57px; 
	display: inline-block;
	white-space: nowrap;
	margin-right: 1rem;
}
#settingsBar{
	display: flex;
}


#tbodyCSS td{
	width: 80px;
}


.heading{
	margin-top: 5vh;

}

#registerForm{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

canvas{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 60%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	float: left;
}

#gameSettingsBar{
	text-align: left;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 25%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	float: left;
}


#gameButtonsBar{
	flex-direction: column;
	text-align: center;
	margin: auto;
	align-self: center;
	margin: auto;

	
}
